.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
    gap: 0 65px;
}

@media (max-width: 1130px) {
    .cards {
        grid-template-columns: repeat(2, minmax(190px, max-content));
        gap: 50px 65px;
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, minmax(190px, max-content));
        gap: 40px 55px;
    }
}