.places__paragraph-text {
  padding: 0%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  max-width: 442px;
  margin-bottom: 27px;
  margin-left: 80px;
  margin-top: 5px;
}
.places__paragraph-text:last-child {
  margin-bottom: 0%;
}
@media (max-width: 1279px) {
  .places__paragraph-text {
    font-size: 16px;
    max-width: 340px;
  }
}
@media (max-width: 1023px) {
  .places__paragraph-text {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 40px;
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  .places__paragraph-text {
    margin-bottom: 5px;
    margin-left: 16px;
    max-width: 270px;
  }
}
