.places__paragraph-text {
  border: 1px solid red;
  padding: 0%;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  max-width: 442px;
  margin-bottom: 27px;
  margin-left: 80px;
  margin-top: 5px;
}
.places__paragraph-text:last-child {
  margin-bottom: 0%;
}
