.body__container {
  margin: 0%;
  padding: 0 calc((100% - 1100px) / 2);
}

@media (max-width: 1279px) {
  .body__container {
    padding: 0 32px;
  }
}

@media (max-width: 767px) {
  .body__container {
    padding: 0 16px;
  }
}
