.places {
  width: 100%;
  padding: 0%;

  margin: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, minmax(640px, 1fr));
  grid-template-rows: repeat(3, minmax(300px, 512px));
}
@media (max-width: 1279px) {
  .places {
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 410px));
  }
}
@media (max-width: 1023px) {
  .places {
    grid-template-columns: repeat(2, minmax(374px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 328px));
  }
}
@media (max-width: 767px) {
  .places {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(6, minmax(300px, 300px));
  }
}
